@using ogrenciNotMvc.Models.EntityFramework
@model List<TableDersler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ders ID</th>
        <th>Ders Adı</th>
        <th>İşlemler</th>

    </tr>

    <tbody>
        @foreach (var ders in Model)
        {
        <tr>
            <td>@ders.dersID</td>
            <td>@ders.dersAd</td>
            <td>
                <a href="/Default/Sil/@ders.dersID" class="btn btn-danger">Sil</a>
                <a href="/Default/Dersget/@ders.dersID" class="btn btn-success">Güncelle</a>
            </td>
        </tr>   
        }
    </tbody>

</table>
<br />
<a href="/Default/YeniKayit" class="btn btn-primary">Yeni Kayıt</a>
